---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

// Custom styling to lowercase menus
.navbar-nav .nav-link, .navbar-brand {
  text-transform: lowercase !important;
}

// Restrict image sizes in projects to prevent them from being insanely huge
.post img {
  max-width: 100%;
  max-height: 400px;
  width: auto;
  object-fit: contain;
  display: block;
  margin: 1rem auto;
}
